<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index_work.css}">
    <title>employee_update</title>
</head>
<body>
<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    <table>
        <tr>
            <th colspan="2">employee_update</th>
        </tr>
        <tr>
            <td>id</td>
            <td><input type="text" readonly name="id" th:value="${employee.id}"></td>
        </tr>
        <tr>
            <td>lastName</td>
            <td><input type="text" name="lastName" th:value="${employee.lastName}"></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" name="email" th:value="${employee.email}"/></td>
        </tr>
        <tr>
            <td>gender</td>
            <td>
                <input type="radio" name="gender" value="1" th:field="${employee.gender}">男
                <input type="radio" name="gender" value="0" th:field="${employee.gender}">女
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="提交">
            </td>
        </tr>
    </table>
</form>

</body>
</html>