<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userController" class="org.fwx.controller.UserController" autowire="byName">
        <!--<property name="userService" ref="userService"></property>-->
    </bean>

    <bean id="userService" class="org.fwx.service.impl.UserServiceImpl" autowire="byType">
        <!--<property name="userDao" ref="userDao"></property>-->
    </bean>

    <bean id="userDaoImpl" class="org.fwx.dao.impl.UserDaoImpl"></bean>

    <!--<bean id="service" class="org.fwx.service.impl.UserServiceImpl" autowire="byName">
        &lt;!&ndash;<property name="userDao" ref="userDao"></property>&ndash;&gt;
    </bean>-->

    <!--<bean id="dao" class="org.fwx.dao.impl.UserDaoImpl"></bean>-->

</beans>