<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/hello}">测试@RequestMapping注解所标识的位置</a><br>
<a th:href="@{/abc}">测试@RequestMapping注解的value属性</a><br>
<form th:action="@{/hello}" method="post">
    <input type="submit" value="测试@RequestMapping注解的method属性">
</form>
<a th:href="@{/hello?username=admin}">测试@RequestMapping注解的params属性</a><br>
<a th:href="@{/hello(username='admin')}">测试@RequestMapping注解的params属性</a><br>
<a th:href="@{/aaa/test/ant}">测试@RequestMapping注解支持ant风格的路径</a><br>
<a th:href="@{/test/rest/admin/1}">测试@RequestMapping注解的value属性中的占位符</a><br>

<hr/>
<p>ParamControllerTest</p>

<p>/param/servletApi</p>
<form th:action="@{/param/servletApi}" method="post">
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    <input type="submit" value="提交"/>
</form>

<p>/param</p>
<form th:action="@{/param}" method="post">
    用户名：<input type="text" name="name"><br/>
    密码：<input type="password" name="password"><br/>
    <input type="submit" value="提交"/>
</form>

<p>/param/pojo</p>
<form th:action="@{/param/pojo}" method="post">
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    <input type="submit" value="提交"/>
</form>

<hr/>
<p>modelAndView</p>
<a th:href="@{/scope}">modelAndView</a>
<a th:href="@{/model}">model</a>
<a th:href="@{/modelMap}">modelMap</a>
<a th:href="@{/map}">map</a>
<a th:href="@{/session}">session</a>
<a th:href="@{/application}">application</a>

<hr/>
<p>view</p>
<a th:href="@{/thymeleafView}">thymeleafView</a>
<a th:href="@{/internalResourceView}">internalResourceView</a>
<a th:href="@{/redirectView}">redirectView</a>

</body>
</html>